@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movie list";
}

<div class="container shadow p-5">
    <h1>Movie CRUD Demo</h1>

    <div class="col mb-3">
        <a asp-controller="Movie" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Add Movie</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Director</th>
                <th scope="col">Genre</th>
                <th scope="col">Showtime</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td width="20%">@movie.Title</td>
                    <td width="20%">@movie.Director</td>
                    <td width="20%">@movie.Genre</td>
                    <td width="20%">@movie.Description</td>
                    <td width="20%">@movie.Showtime</td>
                    <td>
                        <div role="group" class="w-60 btn-group">
                            <span style="margin-right: 5px;">
                                <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                            </span>
                            <span style="margin-right: 5px;">
                                <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                            </span>
                            <span>
                                <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-sm btn-info"><i class="bi bi-info-circle-fill"></i>Details</a>
                            </span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*//for front end validations*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}